@font-face {
    font-family: sourse_regular;
    src: url("../assets/Fonts/SourceSansPro-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sourse_regular;
}

body{
    background-color: white;
}

.main{
    min-height: 100vh;
    width: 90%;
    margin: 1rem auto;
	background-color: #f5f5f5;

}
.top_section{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
.logo{
 display: inline-block;
 max-width: 100%;
 height: 140px;

}
.box_top{
    border: black groove;
    border-radius: 3px;
    border-width: thin;
    height: 40px;
    width: 15%;
    display: inline-block;
    margin: auto 0 auto auto;


}

.arrow_img{
    height: 30px;
    width: 20px;
    float:right;
}
 
#text{
    font-size: 16px;
    font-family: sourse_regular;
    color: black;
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    
}
.containt{
    display: flex;
    width: 100%;
   
  
}

.empty_space1{
    width: 450px;
    height:560px ;
    max-width: 100%;
    
    background-image: url("../assets/Images/plane-quantity-background.png");
    padding-left: 20px;
    display: inline-block;
}
.empty_space{
    width: 450px;
    height:560px ;
    max-width: 100%;
    background-color: #99DC54;
    padding-left: 20px;
    display: inline-block;
}

.empty_space2{
    width: 450px;
    height:560px ;
    max-width: 100%;
    background-image: url("../assets/Images/plane-profit-background.png");
    padding-left: 20px;
    display: inline-block;
}
.firstrow{
    display: flex;
    padding-top: 64px;
    max-width: 100%;
}
p{
    font-family: sans-serif;
    font-size: 30px;
    color: #f5f5f5;
}
.p1{
    font-weight: bold;
    font-size: 60px;
    font-family: sourse_regular;
    font-weight: bold;
    max-width: 100%;
}
.p2{
    font-style:sourse_regular;
    font-size: 30px;
    max-width: 100%;
    margin-top: 2rem;

} 


hr.solid {
    margin-top: 32px;
    margin-bottom: 32px;
    width:90%;
    border-width: thin;
    opacity:0.8;
    border: 0;
    border-top: 1px solid white;
   
  }

.plan{
    display: flex;
    max-width: 100%;
}
.planepic{
    width: 80px;
    height: 80px;
    max-width: 100%;
}
.planename{
margin-left: 32px;
max-width: 100%;
}



.login{  
    width: 450px;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 70px;  
    border-radius: 15px ;  
    background-image: url("../assets/Images/plane-quantity-background.png");
   
      
}  
h2{  
text-align: center;  
color:black;  
padding: 15px;  
}  
label{  
color: black;  
font-size: 17px;  
}  
#msgbox{  
width: 300px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
#input_box{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 10px;  
padding-left: 7px;  
color: white;  
background-color: rgb(27, 176, 245);

}  


  
 
